<mat-toolbar class="has-background-primary jcb">

  <span>
    <span class="material-icons">
      gavel
    </span>
    Debates
  </span>

  <div class="spacer"></div>

  <button routerLink='/' mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink='publish' mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <a href="https://github.com/Leonardo-Antonio/Angular-Task4" target="_black" mat-icon-button>
    <mat-icon>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">
    </mat-icon>
  </a>

</mat-toolbar>
