<div class="container">
  <main class="jcc colums">
    <div class="has-text-centered mt-5 column is-4">

      <mat-card>

        <form [formGroup]='formPublication' (submit)='savePostData($event)' class="example-form">

          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input formControlName='name' matInput type="text">
            <button
              mat-button matSuffix mat-icon-button aria-label="Clear"
              *ngIf="nameInp.value.length > 0"
              (click)="clear('name')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br/>


          <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input formControlName='surname' matInput type="text">
            <button
              mat-button matSuffix mat-icon-button aria-label="Clear"
              *ngIf="surnameInp.value.length > 0"
              (click)="clear('surname')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br/>


          <mat-form-field  class="example-full-width">
            <mat-label >Nick name</mat-label>
            <input formControlName='nick' matInput maxlength="8" placeholder="nick">
            <button
            mat-button matSuffix mat-icon-button aria-label="Clear"
            *ngIf="nickInp.value.length > 0"
            (click)="clear('nick')">
            <mat-icon>close</mat-icon>
          </button>
            <mat-hint align='end'>{{nickInp.value.length}} / 8</mat-hint>
            <mat-hint *ngIf="(nickInp.touched || nickInp.dirty) && nickInp.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-hint>
            <mat-hint *ngIf="emailInp.hasError('maxlength')">
              Máxiomo <strong>8 caracteres</strong>
            </mat-hint>
          </mat-form-field><br/>


          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName='email'
                   placeholder="Ex. pat@example.com">
            <button
              mat-button matSuffix mat-icon-button aria-label="Clear"
              *ngIf="emailInp.value.length > 0" (click)="clear('email')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint *ngIf="(emailInp.touched || emailInp.dirty) && emailInp.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-hint>
            <mat-hint *ngIf="emailInp.hasError('email')">
              Ingrese un email <strong>valido</strong>
            </mat-hint>
          </mat-form-field><br/>


          <mat-form-field class="example-full-width">
            <mat-label>DNI</mat-label>
            <input
              formControlName='dni'
              matInput
              placeholder="nick"
              maxlength="8"/>
              <button
              mat-button matSuffix mat-icon-button aria-label="Clear"
              *ngIf="dniInp.value.length > 0"
              (click)="clear('dni')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint align='end'>
              {{dniInp.value.length}} / 8
            </mat-hint>
            <mat-hint *ngIf="dniInp.hasError('pattern')">
              Solo debe contener <strong>[0-9]</strong>
            </mat-hint>
            <mat-hint *ngIf="dniInp.hasError('required') && dniInp.dirty">
              Este campo es <strong>requerido</strong>
            </mat-hint>
            <mat-hint *ngIf="dniInp.hasError('maxlength') && dniInp.dirty">
              Máximo debe tener <strong>8 caracteres</strong>
            </mat-hint>
          </mat-form-field><br/>


          <mat-form-field class="example-full-width">
            <mat-label>Tipo de comentario</mat-label>
            <mat-select formControlName='type'>
              <mat-option *ngFor="let item of TypeCom" [value]="item.value">
                {{item.Type}}
              </mat-option>
            </mat-select>
          </mat-form-field><br/>


          <mat-form-field class="example-full-width">
            <mat-label>Comentario</mat-label>
            <textarea formControlName='body' matInput placeholder="Introduzca el comentario o punto de vista"></textarea>
            <button
            mat-button matSuffix mat-icon-button aria-label="Clear"
            *ngIf="bodyInp.value.length > 0" (click)="clear('body')">
            <mat-icon>close</mat-icon>
            </button>
            <mat-hint align='end'>
              {{bodyInp.value.length}} / 100
            </mat-hint>
            <mat-hint *ngIf="(bodyInp.dirty || bodyInp.touched) && bodyInp.hasError('required')">
              <p>  Este campo es <strong>requerido</strong></p>
            </mat-hint>
            <mat-hint *ngIf="bodyInp.hasError('minlength')">
              Minimo <strong>15 caracteres</strong>
            </mat-hint>

          </mat-form-field><br/>

          <button
            [ngClass]="{'has-background-danger': formPublication.invalid}"
            [disabled]='formPublication.invalid'
            mat-button class="has-text-primary-light has-background-link block mt-3">
            <mat-icon>
              send
            </mat-icon>
            Send Data
          </button>

        </form>

      </mat-card>

    </div>
  </main>
</div>
